<h1>Hello, Flexion!</h1>
<div>
  <h2>Problem Statement</h2>
  In their “Unit Conversion” science unit, teachers want to assign students unit-conversion problems on paper worksheets.
  After students turn in their completed worksheets, the teachers want to be able to enter the questions and student responses into a computer to be graded. Students will convert:
  <ul>
    <li>Temperatures between Kelvin, Celsius, Fahrenheit, and Rankine.</li>
    <li>Bolumes between liters, tablespoons, cubic-inches, cups, cubic-feet, and gallons.</li>
  </ul>
</div>
<h2>Directions</h2>
<ol>
  <li>The teacher will provide an input numerical value in the amount space, an input unit of measure, a target unit of measure, and a student’s numeric response.</li>
  <li>The system indicates that the response is correct, incorrect, or invalid.
  To be considered correct, the student’s response must match an authoritative answer after both the student’s response and authoritative answer are rounded to the tenths place.</li>
  <li>The System will provide a calulation that is the authoritive answer of i.e. 10tbs = 0.1liters.  </li>
</ol>


<p>This app was built with:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>

